body{
  background-color: rgb(221, 207, 201);
  font-family: 'Days One', sans-serif;
}

h1{
  text-align: center;
  font-weight: bold;
  color: rgb(54, 63, 128);
  font-size: 42px;
}

#amarillo,
#azul,
#rojo{
  width: 200px;
  height: 150px;
  float: none;
}

#amarillo, #amarillo-dos{
  background-color: rgb(255, 252, 0);
}

#azul, #azul-dos{
  background-color: rgb(0, 3, 255);
}

#rojo, #rojo-dos{
  background-color: rgb(255, 0, 0);
}

/*Float left*/

.contenedor-dos{
  border: 2px solid rgb(129, 129, 129);
  width: 100%;
  height: 200px;
  overflow: auto;
  margin-top: 20px;
}

#amarillo-dos,
#azul-dos,
#rojo-dos{
  width: 250px;
  height: 200px;
  float: left;
}
